/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .no-border {
  border: none;
}
/* 残業申請フォームのスタイル */
.overwork-application-style {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

/* 上長への申請の確認フォームのスタイル */
.superior-approve-style{
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

/* 残業申請フォームのスタイル */
.display {
  display: inline-block !important;
  width: auto !important;
}

/* container から変更につき調整 */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 120px;
  margin-left: 120px;
}