.td-content3 {
  border-color:#ddd;
  border-style: solid ; 
  border-width: 1px;
  background:#F2F2F2;
  border-radius: 10px !important;
  padding:  10px 20px 10px;
  margin-bottom: 20px;
  position: relative;
}
/* === モーダル非表示（初期） ============================== */
.modalNoDisp {
  display : none;
}

/* === モーダルバックグランド ============================== */
.modalBg {
  position   : fixed;
  overflow   : hidden;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  background : radial-gradient(circle at 50% 50%,
                               rgba(0, 0, 0, 0.90),
                               rgba(0, 0, 0, 0.70));
  z-index    : 10;
}

/* === モーダルバックグランド：OPEN時のアニメーション ====== */
.modalBgOpen {
  animation  : bgOpenAnime 0.8s ease;
}
@keyframes bgOpenAnime {                     /* フェードイン */
   0% { opacity: 0 }
 100% { opacity: 1 }
}

/* === モーダルバックグランド：CLOSE時のアニメーション ===== */
.modalBgClose {
  bottom     : 100%;
  animation  : bgCloseAnime 0.8s ease;
}
@keyframes bgCloseAnime {                     /* フェードイン */
   0% { opacity: 1; bottom: 0 }
 100% { opacity: 0; bottom: 0 }
}

/* === モーダルウインド ==================================== */
.modalBg .modalWindow {
                             /* モーダルウインドを中心に表示 */
  position      : absolute;
  top           : 50%;
  left          : 50%;
  transform     : translate(-50%, -50%);
  z-index       : 11;
           /* ↓モーダルウインドウの見た目：変更してください */
  width         : 480px;
  min-height    : 400px;
  background    : #fff;
  border        : 10px groove gold;
  border-radius : 10px;
  font-size     : 16pt;
  text-align    : center;
}

/* === モーダルウインド：OPEN時のアニメーション============= */
.modalBgOpen .modalWindow {
  animation     : modalOpenAnime 0.8s ease;
}
@keyframes modalOpenAnime {                      /* 下→中心 */
   0% { top : 150% }
 100% { top : 50%  }
}

/* === モーダルウインド：CLOSE時のアニメーション============ */
.modalBgClose .modalWindow {
  animation     : modalCloseAnime 0.8s ease;
}
@keyframes modalCloseAnime {                      /* 中心→下 */
   0% { top : 50%  }
 100% { top : 150% }
}

.left{
  text-align: left !important;
  font-size: 15px;
}
