.user-table {
  th {
  
    vertical-align: middle;
    text-align: center;
    
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }  
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

#table-attendances {
  th {
  
    vertical-align: middle;
    text-align: center;
    
  }
  
  th.table-padding {
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }  
  
  span {
    border-right: none;
  }
}



/* ユーザー一覧ページ */

#table-users {
  tr {
    border-collapse: collapse;
    border: 0px none !important;
  }
  td {
    vertical-align: middle;
  }  
}

/* モーダールのボタン */
.btn-basic-info {
    margin: 15px 0;
    width: 30%;
}

/* 土日に文字色を変える */
.sat {
  color: blue;
}

.sun {
  color: red;
}

/* 基本情報の更新ページ */
.label-basic-info{
  margin-top: 5px;
}

.btn-basic-info {
  margin-top: 10px;
}

.margin {
  margin-top: 5px;
}

.margin-bottom{
  margin-bottom: 5px;
}
/* csv機能関係 */

.csv-btn{
  margin-top: 10px;
}


/* 勤怠Aのユーザー一覧テーブルの枠 */
.blank_height{
  height: 20px;
}

.new-table{
  margin-left: 15px;
}

.new-table__item{
  border-collapse: collapse;
  border: 0px none !important;
}

/* indexページ全体的に左寄りにする */@at-root
.to-the-left {
  margin-left: -10px;
}

table, tr, th, td {
  border: -10px none;
}
/* ユーザー一覧の名前の装飾 */
.td-content1 {
  font-size: 15px;
}

/* ユーザー一覧の編集ボタンの装飾 */
.td-content2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ユーザー一覧の削除ボタンの装飾 */
.td-content3 {
  border-color:#ddd;
  border-style: solid ; 
  border-width: 1px;
  background:#F2F2F2;
  border-radius: 2px;
  padding:  10px 20px 10px;
  margin-bottom: 20px;
  position: relative;
}



/*ユーザー一覧の編集ボタン装飾 */
.btn-click:active{
  border: 2.5px solid #DDEEFF !important;
  box-shadow: 0 0 0 1px black;
  
}



/* アコーディオンの大枠 */
.td-content3-bgcolor {
  background: #f8f8ff;
  margin-top: -20px;
}

.collapse-content {
  background: #f8f8ff;
}
.collapse {
  display:none;
}
.collapse.in {
  display: block;
}

/* showページのテーブル調整 */
.table-margin-top{
  margin-top: 10px;
}

.link-bottom-margin{
  margin-bottom:10px;
}

/* showページの上長に対する申請メッセージ装飾 */
.notice-wording{
  color: red;
  font-size: 16px;
  margin-bottom: 50px;
}
.notice-wording:hover{
  color:palevioletred;
  font-weight: bold;
  
  text-shadow    : 
        2px  2px 1px gold,
      -2px  2px 1px gold,
        2px -2px 1px  gold,
      -2px -2px 1px gold,
        2px  0px 1px  gold,
        0px  2px 1px gold,
      -2px  0px 1px  gold,
        0px -2px 1px gold;        /* 文字の影 */
  
  animation: example 5s linear;
  height: 10px;
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
    transition: all 10.0s
}
@keyframes example {
  to { background-position-x: 200%; }

 }

.notice-nomber{
  border: 3px solid red;
  color: red;
  font-weight: bold;
}

/* ログテーブルのスタイル */
.log-table{
  margin-top: 50px;
  th {
    text-align: center; 
    vertical-align: middle;
  }
  td {
    text-align: center;
    vertical-align: middle;
  }  
}

/* 承認ログのリセットボタン装飾 */
.btn-primary1 {
  background-color: #fff;
  color: darkblue;
  border-width:3px;
  border-color: red;
  
   
}
.btn-primary1:hover {
  font-weight: bold;
  font-size:15px;
  border-width:3px;
  border-color:darkblue;
  animation: example 5s linear;
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
    transition: all 10.0s
}
@keyframes example {
  to { background-position-x: 200%; }

 
}

#log-table{
  th {
  
    vertical-align: middle;
    text-align: center;
    
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}